{% extends 'login/layout.html' %}

{% block title %}Index{% endblock %}

{% load staticfiles %}

{% block content %}
  <h3>Recent Book Reviews:</h3>
  {% for review in featured_reviews %}
    <div class="book">
      <h3><a href="{% url 'books:show' id=review.book.id %}">{{ review.book.title }}</a></h3>
      <p>{{ review.book.author }}</p>
      <div class="comments">
        <h4>Comments</h4>
          <h5 class='comment_head'><a href="{% url 'login:profile' user_id=review.user.id %}">{{ review.user.name }}</a></h5>
          <small>Posted on {{ review.created_at }}</small>
          {% for _ in 'xxxxx' %}
            {% if review.rating >= forloop.counter0 %}
              <img src="{% static 'books/img/full_star.png' %}" alt="Full star">
            {% else %}
              <img src="{% static 'books/img/empty_star.png' %}" alt="Empty Star">
            {% endif %}
          {% endfor %}
          <p>{{ review.review }}</p>
      </div>
    </div>
  {% endfor %}
  <div class="other_books">
    <h3>Other Books</h3>
    <ul>

    </ul>
    {% for book in books %}
      <li><a href="{% url 'books:show' id=book.id %}">{{ book.title }}</a></li>
    {% endfor %}
  </div>
{% endblock %}
